ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

.navbar {
    background-color: #9E9EF4;
    position: fixed;
    width: 100%;
}

.navbar a:hover {
    background-color: #fff;
    color:rgb(19, 6, 6);
}

.navbar a {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    display: block;
    color: rgb(19, 6, 6);
    background-color: rgb(20, 13, 6);
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin-left: 150px;
    text-decoration: none;
}

nav li {
    list-style: none;
}


#hello {
    position:absolute;
    top: 115px;
    font-family: 'IM Fell French Canon', serif;
    font-size: 100px;
    padding-left: 200px;
}

#goodbye {
    position: absolute;
    top: 350px;
    left: 550px;
    font-family: 'Bebas Neue', cursive;
}

#projs {
    position:absolute;
    top: 200px;
    left: 250px;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-style: solid;
    border-width: 20px;
    border-color:#140D06;
}

body {
    background-color: #dce4ff;
}

#gif {
    position:absolute;
    top: 300px;
    left: 500px;
}

#hello > a {
    color: #9e9ef4;
    position: absolute;
    top: 200px;
    left: 600px;
}